#top-bar {
	background-color: #81d4fa;
	height: 60px;
	position: fixed;
	top: 0;
	margin-bottom: 0px;
	width: 100%;
	align-items: center;
	box-shadow:0px 4px 4px #818181;
	z-index: 20000;
}

#logo {
	font-size: 160%;
	color: black;
	position: relative;
	left: 10px;
}

#connexion {
	position: absolute;
	min-width : 150px;
	right: 10px;
}

#mapid {
    width: 950px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#connexion-link {
	color:white;
	display: block;
}

.dropdown {
	position: absolute;
	display: inline-block;
	right: 170px;
	min-width: 150px;
}

.bouton {
  background-color: #e53935;
  color: white;
  padding: 10px;
  font-size: 110%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  position: relative;
  min-width: inherit;
}

.bouton a {
	text-decoration: none;
	font-family: inherit;
	color: white;
}

.bouton:hover {
	background-color: #d32f2f;
}

.dropdown-content {
	color: black;
	background-color: #f9f9f9;
	display: none;
	position: absolute;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	padding: 10px 10px;
	color: black;
	display: block;
}
.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown:hover .bouton {
	background-color: #d32f2f;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

#banniere {
	height: 350px;
	background-position: 0px 50px;
	background-image: url("banniere4.jpg");
	background-size: 1920px 300px;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.flex-container {
	display: flex;
}

.article-container {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.article {
	background-color: white;
	border: 0px solid lightgray;
	width: 600px;
	height: 600px;
	padding: 10px;
	box-shadow: 0px 0px 4px lightgray;
}

footer {
	height: 200px;
	background-color: black;
	color: white;
}

#search {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 600px;
	display: block;
}

#searchbar{
    box-shadow: 0px 2px 2px;
    border-radius: 27px;
}

.searchbar {
	box-shadow: 0px 2px 4px #818181;
	border-radius: 3px;
	margin-top: 10px;
}

input {
	font-size: 160%;
	padding-left: 10px;
	margin-bottom: 8px;
	border-radius: 0px;
	border: 0px;
	width: 600px;
	height: 45px;
	background-color: #81d4fa;
	box-shadow: 1px 1px 4px lightgray;
}

.infocomptes {
	align-items: center;
	display: flex;
	font-size: 160%;
	padding-left: 10px;
	margin-bottom: 20px;
	border-radius: 0px;
	border: 0px;
	width: 600px;
	min-height: 45px;
	background-color: #81d4fa;
	box-shadow: 1px 1px 4px lightgray;
}

em {
	font-size: 130%;
}

body {
	margin: 0;
	background-color: #e8e8ee;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: lightblue;
}

ul {
	list-style-type: none;
}
li {
	list-style-position: inherit;
}

#info-content {
	flex-direction: column;
	justify-content: space-around;
	border: 0px solid black;

}

#compte-content {
	justify-content: center;
	margin-top: 40px;
	min-height: 100px;
}

#photo {
	width: 200px;
	height: 200px;
	border: 2px solid #e53935;
	margin-right: 40px;
}

#login-content {
	justify-content: center;
	margin-top: 20px;

}
